footer { 
    background-color:lightgreen;
}

header { 
    background-color:lightgreen;
}

nav { 
    background-color:lightyellow;

}

aside { 
    background-color:lightgrey;

}

body {
    display: flex;
}

/* Pantalla Móvil */

@media screen and (max-width: 568px) { 

    body {
        flex-direction: row;  
        flex-wrap: wrap;
    }
    
    header { 
        flex-basis: 100%;
        order: 1;
    }
    nav {
        flex-basis: 100%;
        order: 2;
    }

    article { 
        flex-basis: 100%;
        order: 3;
    }

    aside { 
        flex-basis: 100%;
        order: 4;
    }

    footer { 
        flex-basis: 100%;
        order: 5;
    }
}


/* Pantalla Tablet */

@media screen and (max-width: 768px) and (min-width: 568px) {

    body {
        flex-direction: row;  
        flex-wrap: wrap;
    }
    
    header { 
        flex-basis: 100%;
        order: 1;
        height: 25%;
    }
    nav {
        flex-basis: 20%;
        order: 3;
        height: 50%;

    }

    article { 
        flex-basis: 80%;
        order: 2;
        height: 50%;

    }

    aside { 
        display: none;

    }

    footer { 
        flex-basis: 100%;
        order: 5;
        height: 25%;

    }
    
}


/* Pantalla Escritorio */

@media screen and (min-width: 768px) {
    

    body {
        flex-direction: row;  
        flex-wrap: wrap;
    }
    
    header { 
        flex-basis: 100%;
        order: 1;
        height: 25%;
    }
    nav {
        flex-basis: 20%;
        order: 2;
        height: 50%;

    }

    article { 
        flex-basis: 60%;
        order: 3;
        height: 50%;

    }

    aside { 
        flex-basis: 20%;
        order: 4;
        height: 50%;

    }

    footer { 
        flex-basis: 100%;
        order: 5;
        height: 25%;

    }
}
