/*Barra de arriba*/

#logo {
    margin: 20px;
    height: 20%;
    width: 90px;
    
}

#search {
    padding: 10px;
    border-radius: 10px;
    border: black solid 1px;
    padding-right: 150px; 
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



.buttons {
    height: 60px;
    
}



.div_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 250px;
    height: 60px;
}

#usuario {
    order: 1;
    margin-left: 30px;
}

#carrito {
    order: 1;
    margin-left: 50px;

}

#label_carrito {
    order: 2;
    text-align: right;
    font: bold 13px sans-serif;
    

}

#label_usuario {
    order: 2;
    margin-left: 45px;
    margin-right: 70px;
    font: bold 13px sans-serif;

}







/*Barra abajo*/

footer{
    display: flex
    bottom: 0;
    justify-content: center;
    align-items: center;
}


.todo-footer{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 12px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}


.todo-footer .footer-izquierda,
.todo-footer .footer-centro,
.todo-footer .footer-derecha{
    display: inline-block;
    vertical-align: top;
}


.todo-footer .footer-izquierda{
    width: 30%;
}



.todo-footer .copyright{
    color:  #8f9296;
    font-size: 9px;
    font-weight: normal;
    margin: 0;
    opacity: 0.5;
}


.todo-footer .footer-centro{
    width: 35%;
}



.todo-footer .footer-derecha{
    width: 30%;
}



.todo-footer .footer-logos{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;

}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#rrss {
    padding: 7px;
}



#footer-text {
    text-align: center
}






/*Login*/


.login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 500px;
    

}

#box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}


#login-text {
    flex-basis: 100%;
    margin-left: 50px;
    margin-bottom: 40px;
    font: bold 30px sans-serif;
}



#login-first-input {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    height: 25px;
}

#login-first-button {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 100px;


}

#login-second-input {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    height: 25px;
}


#login-second-button {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 100px;

}

#login-forget-text {
    margin-top: 20px;
    padding-bottom: 50px;
    margin-left: 50px;
    
}



/*Sobre nosotros*/


.about-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 550px;
    
}


#about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 50px;

}

#about-text {
    flex-basis: 100%;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    font: bold 30px sans-serif;
}

#map-img {
    width: 200px;
    height: auto;
    margin-left: 45px; 
    margin-bottom: 50px;
    
}

#box_about_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#text-about-label-bottom {
    font: bold 20px sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 45px;
    flex-basis: 40%;
}



#text-about-p {
    font: 15px sans-serif;
    margin-left: 45px;
    margin-right: 25px;

}

#info-contact {
        font: 12px sans-serif;
        margin-left: 65px;
}


/*Contacto*/


.boxform {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    max-width: 660px;

}



  #nombre,#apellidos,#email{
     border-radius: 5px;
     width: 110px;
     height: 30px;
     padding-left: 10px;
    }

#mensaje{
     margin-top: 17px;
     margin-bottom: 17px;
     border-radius: 5px;
     width: 600px;
     height: 300px;
     padding-left: 10px;
    }



.formulario {

    margin-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    border: 2px solid black;
    padding: 35px;
    border-radius: 25px;
    flex-wrap: wrap;
}

#enviarform{
  margin-left: 250px;
}



#contacto {
    flex-basis: 100%;
    font: bold 25px sans-serif;
}