
/*estilos generales*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Tajawal';
    
}
.container{
    width:80%;
    margin:2rem auto;
}
.container p{
    margin:1rem 0;
}
.hero{
    
  
}
.main-header .nav-links .nav-link a{
    margin:.2rem;
    padding:1rem .5rem;

}


.main-header{
    
    border-bottom: 0px;
    width: 100vw;
    padding: 0 10vw;
    color:black;
    font-weight: bold;
    background-image: url("greysky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;

}

.main-header .logo{

    padding-bottom: 20px;
}
.main-header a{
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
}
.main-header .nav-links{

    border-bottom:0;
    list-style-type: none;
}
.main-header .nav-links .nav-link{
    height: 50px;
    width: 100%;
    text-align: center;
}
.main-header .nav-links .nav-link a{
    
    border-bottom: 0;
}


/* media */

/* Pantalla movil */

@media screen and (max-width: 768px) {
    
    .main-header{ 
        display: flex;
        flex-direction:row ;
        flex-wrap: wrap;
    }

    .main-header .nav-links{ 
        background-color: grey;
        flex-basis: 100%;
    }
    
    .main-header .logo{
        background-color:grey;
        flex-basis: 100%;
        padding-top: 25px;
        text-align: center;
    }

    
}

/* Pantalla PC-Tablet */

@media screen and (min-width: 769px) {
    
    a:hover{
        background-color: rgb(112, 112, 112);

    }

    .main-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-header .logo{
        padding-top: -25px;
        align-self: left;
        text-align: left;
        padding-right: 200px;
    }

    .nav-links { 
        display: flex;
        

    }

}
   
   
    

